
/* TYPE-TRY web fonts */

/* Upgrade */
@font-face {
  font-family: "Upgrade-Thin";
  src: url("../fonts/Upgrade-Thin.eot") format("eot"),
  url("../fonts/Upgrade-Thin.woff2") format("woff2"),
  url("../fonts/Upgrade-Thin.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Thin_Italic";
  src: url("../fonts/Upgrade-Thin_Italic.eot") format("eot"),
  url("../fonts/Upgrade-Thin_Italic.woff2") format("woff2"),
  url("../fonts/Upgrade-Thin_Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Light";
  src: url("../fonts/Upgrade-Light.eot") format("eot"),
  url("../fonts/Upgrade-Light.woff2") format("woff2"),
  url("../fonts/Upgrade-Light.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Light_Italic";
  src: url("../fonts/Upgrade-Light_Italic.eot") format("eot"),
  url("../fonts/Upgrade-Light_Italic.woff2") format("woff2"),
  url("../fonts/Upgrade-Light_Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Book";
  src: url("../fonts/Upgrade-Book.eot") format("eot"),
  url("../fonts/Upgrade-Book.woff2") format("woff2"),
  url("../fonts/Upgrade-Book.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Book_Italic";
  src: url("../fonts/Upgrade-Book_Italic.eot") format("eot"),
  url("../fonts/Upgrade-Book_Italic.woff2") format("woff2"),
  url("../fonts/Upgrade-Book_Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Regular";
  src: url("../fonts/Upgrade-Regular.eot") format("eot"),
  url("../fonts/Upgrade-Regular.woff2") format("woff2"),
  url("../fonts/Upgrade-Regular.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Regular_Italic";
  src: url("../fonts/Upgrade-Italic.eot") format("eot"),
  url("../fonts/Upgrade-Italic.woff2") format("woff2"),
  url("../fonts/Upgrade-Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Medium";
  src: url("../fonts/Upgrade-Medium.eot") format("eot"),
  url("../fonts/Upgrade-Medium.woff2") format("woff2"),
  url("../fonts/Upgrade-Medium.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Medium_Italic";
  src: url("../fonts/Upgrade-Medium_Italic.eot") format("eot"),
  url("../fonts/Upgrade-Medium_Italic.woff2") format("woff2"),
  url("../fonts/Upgrade-Medium_Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Semibold";
  src: url("../fonts/Upgrade-Semibold.eot") format("eot"),
  url("../fonts/../fonts/Upgrade-Semibold.woff2") format("woff2"),
  url("../fonts/Upgrade-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Semibold_Italic";
  src: url("../fonts/Upgrade-Semibold_Italic.eot") format("eot"),
  url("../fonts/Upgrade-Semibold_Italic.woff2") format("woff2"),
  url("../fonts/Upgrade-Semibold_Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Bold";
  src: url("../fonts/Upgrade-Bold.eot") format("eot"),
  url("../fonts/Upgrade-Bold.woff2") format("woff2"),
  url("../fonts/Upgrade-Bold.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Bold_Italic";
  src: url("../fonts/Upgrade-Bold_Italic.eot") format("eot"),
  url("../fonts/Upgrade-Bold_Italic.woff2") format("woff2"),
  url("../fonts/Upgrade-Bold_Italic.woff") format("woff"),
}

/* Try */
@font-face {
  font-family: "Upgrade_Try-Regular_Italic";
  src: url("../fonts/upgrade_try-italic.eot") format("eot"),
  url("../fonts/upgrade_try-italic.woff2") format("woff2"),
  url("../fonts/upgrade_try-italic.woff") format("woff");
}

/* Opcode */
@font-face {
  font-family: "Opcode_Try-Regular";
  src: url("../fonts/opcode-regular_ma.eot") format("eot"),
  url("../fonts/opcode-regular_ma.woff2") format("woff2"),
  url("../fonts/opcode-regular_ma.woff") format("woff");
}

/* PowerLift */
@font-face {
  font-family: "PowerLift_Try-Tight";
  src: url("../fonts/powerlift_try-tight.eot") format("eot"),
  url("../fonts/powerlift_try-tight.woff2") format("woff2"),
  url("../fonts/powerlift_try-tight.woff") format("woff");
}
@font-face {
  font-family: "PowerLift_Try-Tight_Outline";
  src: url("../fonts/powerlift_try-tight_outline.eot") format("eot"),
  url("../fonts/powerlift_try-tight_outline.woff2") format("woff2"),
  url("../fonts/powerlift_try-tight_outline.woff") format("woff");
}
@font-face {
  font-family: "PowerLift_Try-Tight_Circle";
  src: url("../fonts/powerlift_try-tight_circle.eot") format("eot"),
  url("../fonts/powerlift_try-tight_circle.woff2") format("woff2"),
  url("../fonts/powerlift_try-tight_circle.woff") format("woff");
}
@font-face {
  font-family: "PowerLift_Try-Tight_Slab";
  src: url("../fonts/powerlift_try-tight_slab.eot") format("eot"),
  url("../fonts/powerlift_try-tight_slab.woff2") format("woff2"),
  url("../fonts/powerlift_try-tight_slab.woff") format("woff");
}
 

