
@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Black";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Black.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Black.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Black_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Black_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Black_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Bold";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Bold.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Bold.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Bold_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Bold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Book";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Book.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Book.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Book_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Book_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Book_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-ExtraBold";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-ExtraBold.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-ExtraBold_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-ExtraBold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-ExtraBold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Light";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Light.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Light.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Light_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Light_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Medium";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Medium.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Medium.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Medium_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Medium_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Regular";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Regular.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Regular.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Regular_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Regular_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Thin";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Thin.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Thin.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Round-Thin_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Round-Thin_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Round-Thin_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Black";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Black.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Black.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Black_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Black_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Black_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Bold";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Bold.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Bold.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Bold_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Bold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Book";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Book.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Book.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Book_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Book_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Book_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-ExtraBold";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-ExtraBold.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-ExtraBold_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-ExtraBold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-ExtraBold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Light";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Light.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Light.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Light_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Light_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Medium";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Medium.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Medium.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Medium_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Medium_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Regular";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Regular.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Regular.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Regular_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Regular_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Thin";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Thin.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Thin.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Double_Square-Thin_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Double_Square-Thin_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Double_Square-Thin_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Black";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Black.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Black.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Black_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Black_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Black_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Bold";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Bold.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Bold.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Bold_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Bold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Book";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Book.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Book.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Book_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Book_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Book_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-ExtraBold";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-ExtraBold.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-ExtraBold_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-ExtraBold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-ExtraBold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Light";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Light.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Light.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Light_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Light_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Medium";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Medium.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Medium.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Medium_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Medium_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Regular";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Regular.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Regular.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Regular_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Regular_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Thin";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Thin.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Thin.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Round-Thin_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Round-Thin_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Round-Thin_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Black";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Black.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Black.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Black_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Black_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Black_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Bold";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Bold.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Bold.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Bold_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Bold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Book";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Book.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Book.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Book_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Book_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Book_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-ExtraBold";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-ExtraBold.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-ExtraBold_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-ExtraBold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-ExtraBold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Light";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Light.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Light.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Light_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Light_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Medium";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Medium.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Medium.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Medium_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Medium_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Regular";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Regular.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Regular.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Regular_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Regular_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Thin";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Thin.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Thin.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Mono_Outline_Single_Square-Thin_Italic";
  src: url("../fonts/Bitcount_Mono_Outline_Single_Square-Thin_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Mono_Outline_Single_Square-Thin_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Round-Black_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Round-Black_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Round-Black_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Round-Bold_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Round-Bold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Round-Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Round-Book_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Round-Book_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Round-Book_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Round-ExtraBold_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Round-ExtraBold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Round-ExtraBold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Round-Light_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Round-Light_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Round-Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Round-Medium_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Round-Medium_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Round-Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Round-Regular_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Round-Regular_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Round-Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Round-Thin_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Round-Thin_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Round-Thin_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Square-Black_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Square-Black_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Square-Black_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Square-Bold_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Square-Bold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Square-Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Square-Book_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Square-Book_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Square-Book_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Square-ExtraBold_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Square-ExtraBold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Square-ExtraBold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Square-Light_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Square-Light_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Square-Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Square-Medium_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Square-Medium_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Square-Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Square-Regular_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Square-Regular_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Square-Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Double_Square-Thin_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Double_Square-Thin_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Double_Square-Thin_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Round-Black_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Round-Black_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Round-Black_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Round-Bold_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Round-Bold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Round-Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Round-Book_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Round-Book_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Round-Book_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Round-ExtraBold_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Round-ExtraBold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Round-ExtraBold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Round-Light_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Round-Light_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Round-Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Round-Medium_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Round-Medium_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Round-Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Round-Regular_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Round-Regular_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Round-Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Round-Thin_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Round-Thin_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Round-Thin_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Square-Black_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Square-Black_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Square-Black_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Square-Bold_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Square-Bold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Square-Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Square-Book_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Square-Book_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Square-Book_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Square-ExtraBold_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Square-ExtraBold_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Square-ExtraBold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Square-Light_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Square-Light_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Square-Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Square-Medium_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Square-Medium_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Square-Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Square-Regular_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Square-Regular_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Square-Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "Bitcount_Prop_Outline_Single_Square-Thin_Italic";
  src: url("../fonts/Bitcount_Prop_Outline_Single_Square-Thin_Italic.woff2") format("woff2"),
       url("../fonts/Bitcount_Prop_Outline_Single_Square-Thin_Italic.woff") format("woff");
}

@font-face {
  font-family: "Presti_Deck-Black";
  src: url("../fonts/Presti_Deck-Black.woff2") format("woff2"),
       url("../fonts/Presti_Deck-Black.woff") format("woff");
}

@font-face {
  font-family: "Presti_Deck-Bold";
  src: url("../fonts/Presti_Deck-Bold.woff2") format("woff2"),
       url("../fonts/Presti_Deck-Bold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Deck-Book";
  src: url("../fonts/Presti_Deck-Book.woff2") format("woff2"),
       url("../fonts/Presti_Deck-Book.woff") format("woff");
}

@font-face {
  font-family: "Presti_Deck-Cover";
  src: url("../fonts/Presti_Deck-Cover.woff2") format("woff2"),
       url("../fonts/Presti_Deck-Cover.woff") format("woff");
}

@font-face {
  font-family: "Presti_Deck-ExtraBold";
  src: url("../fonts/Presti_Deck-ExtraBold.woff2") format("woff2"),
       url("../fonts/Presti_Deck-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Deck-Light";
  src: url("../fonts/Presti_Deck-Light.woff2") format("woff2"),
       url("../fonts/Presti_Deck-Light.woff") format("woff");
}

@font-face {
  font-family: "Presti_Deck-Medium";
  src: url("../fonts/Presti_Deck-Medium.woff2") format("woff2"),
       url("../fonts/Presti_Deck-Medium.woff") format("woff");
}

@font-face {
  font-family: "Presti_Deck-Normal";
  src: url("../fonts/Presti_Deck-Normal.woff2") format("woff2"),
       url("../fonts/Presti_Deck-Normal.woff") format("woff");
}

@font-face {
  font-family: "Presti_Deck-Regular";
  src: url("../fonts/Presti_Deck-Regular.woff2") format("woff2"),
       url("../fonts/Presti_Deck-Regular.woff") format("woff");
}

@font-face {
  font-family: "Presti_Deck-Semibold";
  src: url("../fonts/Presti_Deck-Semibold.woff2") format("woff2"),
       url("../fonts/Presti_Deck-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Deck-Standard";
  src: url("../fonts/Presti_Deck-Standard.woff2") format("woff2"),
       url("../fonts/Presti_Deck-Standard.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-Black";
  src: url("../fonts/Presti_Display-Black.woff2") format("woff2"),
       url("../fonts/Presti_Display-Black.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-Bold";
  src: url("../fonts/Presti_Display-Bold.woff2") format("woff2"),
       url("../fonts/Presti_Display-Bold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-Book";
  src: url("../fonts/Presti_Display-Book.woff2") format("woff2"),
       url("../fonts/Presti_Display-Book.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-Cover";
  src: url("../fonts/Presti_Display-Cover.woff2") format("woff2"),
       url("../fonts/Presti_Display-Cover.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-Cover_Italic";
  src: url("../fonts/Presti_Display-Cover_Italic.woff2") format("woff2"),
       url("../fonts/Presti_Display-Cover_Italic.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-ExtraBold";
  src: url("../fonts/Presti_Display-ExtraBold.woff2") format("woff2"),
       url("../fonts/Presti_Display-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-Light";
  src: url("../fonts/Presti_Display-Light.woff2") format("woff2"),
       url("../fonts/Presti_Display-Light.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-Medium";
  src: url("../fonts/Presti_Display-Medium.woff2") format("woff2"),
       url("../fonts/Presti_Display-Medium.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-Normal";
  src: url("../fonts/Presti_Display-Normal.woff2") format("woff2"),
       url("../fonts/Presti_Display-Normal.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-Regular";
  src: url("../fonts/Presti_Display-Regular.woff2") format("woff2"),
       url("../fonts/Presti_Display-Regular.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-Semibold";
  src: url("../fonts/Presti_Display-Semibold.woff2") format("woff2"),
       url("../fonts/Presti_Display-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Display-Standard";
  src: url("../fonts/Presti_Display-Standard.woff2") format("woff2"),
       url("../fonts/Presti_Display-Standard.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-Black";
  src: url("../fonts/Presti_Small-Black.woff2") format("woff2"),
       url("../fonts/Presti_Small-Black.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-Bold";
  src: url("../fonts/Presti_Small-Bold.woff2") format("woff2"),
       url("../fonts/Presti_Small-Bold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-Bold_Italic";
  src: url("../fonts/Presti_Small-Bold_Italic.woff2") format("woff2"),
       url("../fonts/Presti_Small-Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-Book";
  src: url("../fonts/Presti_Small-Book.woff2") format("woff2"),
       url("../fonts/Presti_Small-Book.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-Cover";
  src: url("../fonts/Presti_Small-Cover.woff2") format("woff2"),
       url("../fonts/Presti_Small-Cover.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-ExtraBold";
  src: url("../fonts/Presti_Small-ExtraBold.woff2") format("woff2"),
       url("../fonts/Presti_Small-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-Light";
  src: url("../fonts/Presti_Small-Light.woff2") format("woff2"),
       url("../fonts/Presti_Small-Light.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-Medium";
  src: url("../fonts/Presti_Small-Medium.woff2") format("woff2"),
       url("../fonts/Presti_Small-Medium.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-Normal";
  src: url("../fonts/Presti_Small-Normal.woff2") format("woff2"),
       url("../fonts/Presti_Small-Normal.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-Regular";
  src: url("../fonts/Presti_Small-Regular.woff2") format("woff2"),
       url("../fonts/Presti_Small-Regular.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-Semibold";
  src: url("../fonts/Presti_Small-Semibold.woff2") format("woff2"),
       url("../fonts/Presti_Small-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Small-Standard";
  src: url("../fonts/Presti_Small-Standard.woff2") format("woff2"),
       url("../fonts/Presti_Small-Standard.woff") format("woff");
}

@font-face {
  font-family: "Presti_Text-Black";
  src: url("../fonts/Presti_Text-Black.woff2") format("woff2"),
       url("../fonts/Presti_Text-Black.woff") format("woff");
}

@font-face {
  font-family: "Presti_Text-Bold";
  src: url("../fonts/Presti_Text-Bold.woff2") format("woff2"),
       url("../fonts/Presti_Text-Bold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Text-Book";
  src: url("../fonts/Presti_Text-Book.woff2") format("woff2"),
       url("../fonts/Presti_Text-Book.woff") format("woff");
}

@font-face {
  font-family: "Presti_Text-Cover";
  src: url("../fonts/Presti_Text-Cover.woff2") format("woff2"),
       url("../fonts/Presti_Text-Cover.woff") format("woff");
}

@font-face {
  font-family: "Presti_Text-ExtraBold";
  src: url("../fonts/Presti_Text-ExtraBold.woff2") format("woff2"),
       url("../fonts/Presti_Text-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Text-Light";
  src: url("../fonts/Presti_Text-Light.woff2") format("woff2"),
       url("../fonts/Presti_Text-Light.woff") format("woff");
}

@font-face {
  font-family: "Presti_Text-Medium";
  src: url("../fonts/Presti_Text-Medium.woff2") format("woff2"),
       url("../fonts/Presti_Text-Medium.woff") format("woff");
}

@font-face {
  font-family: "Presti_Text-Normal";
  src: url("../fonts/Presti_Text-Normal.woff2") format("woff2"),
       url("../fonts/Presti_Text-Normal.woff") format("woff");
}

@font-face {
  font-family: "Presti_Text-Regular";
  src: url("../fonts/Presti_Text-Regular.woff2") format("woff2"),
       url("../fonts/Presti_Text-Regular.woff") format("woff");
}

@font-face {
  font-family: "Presti_Text-Semibold";
  src: url("../fonts/Presti_Text-Semibold.woff2") format("woff2"),
       url("../fonts/Presti_Text-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Presti_Text-Standard";
  src: url("../fonts/Presti_Text-Standard.woff2") format("woff2"),
       url("../fonts/Presti_Text-Standard.woff") format("woff");
}

@font-face {
  font-family: "PowerLift-Tight";
  src: url("../fonts/PowerLift-Tight.woff2") format("woff2"),
       url("../fonts/PowerLift-Tight.woff") format("woff");
}

@font-face {
  font-family: "PowerLift-Tight_Outline";
  src: url("../fonts/PowerLift-Tight_Outline.woff2") format("woff2"),
       url("../fonts/PowerLift-Tight_Outline.woff") format("woff");
}

@font-face {
  font-family: "Responder_P-Black";
  src: url("../fonts/Responder_P-Black.woff2") format("woff2"),
       url("../fonts/Responder_P-Black.woff") format("woff");
}

@font-face {
  font-family: "Responder_P-Black_Condensed";
  src: url("../fonts/Responder_P-Black_Condensed.woff2") format("woff2"),
       url("../fonts/Responder_P-Black_Condensed.woff") format("woff");
}

@font-face {
  font-family: "Responder_P-Black_Condensed_Italic";
  src: url("../fonts/Responder_P-Black_Condensed_Italic.woff2") format("woff2"),
       url("../fonts/Responder_P-Black_Condensed_Italic.woff") format("woff");
}

@font-face {
  font-family: "Responder_P-Black_Italic";
  src: url("../fonts/Responder_P-Black_Italic.woff2") format("woff2"),
       url("../fonts/Responder_P-Black_Italic.woff") format("woff");
}

@font-face {
  font-family: "Responder_P-Light";
  src: url("../fonts/Responder_P-Light.woff2") format("woff2"),
       url("../fonts/Responder_P-Light.woff") format("woff");
}

@font-face {
  font-family: "Responder_P-Light_Italic";
  src: url("../fonts/Responder_P-Light_Italic.woff2") format("woff2"),
       url("../fonts/Responder_P-Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "Responder_P-Regular";
  src: url("../fonts/Responder_P-Regular.woff2") format("woff2"),
       url("../fonts/Responder_P-Regular.woff") format("woff");
}

@font-face {
  font-family: "Responder_P-Regular_Condensed";
  src: url("../fonts/Responder_P-Regular_Condensed.woff2") format("woff2"),
       url("../fonts/Responder_P-Regular_Condensed.woff") format("woff");
}

@font-face {
  font-family: "Responder_P-Regular_Italic";
  src: url("../fonts/Responder_P-Regular_Italic.woff2") format("woff2"),
       url("../fonts/Responder_P-Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "Responder_P-UltraBlack";
  src: url("../fonts/Responder_P-UltraBlack.woff2") format("woff2"),
       url("../fonts/Responder_P-UltraBlack.woff") format("woff");
}

@font-face {
  font-family: "Responder_P-UltraBlack_Italic";
  src: url("../fonts/Responder_P-UltraBlack_Italic.woff2") format("woff2"),
       url("../fonts/Responder_P-UltraBlack_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Black";
  src: url("../fonts/Upgrade-Black.woff2") format("woff2"),
       url("../fonts/Upgrade-Black.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Black_Italic";
  src: url("../fonts/Upgrade-Black_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Black_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Bold";
  src: url("../fonts/Upgrade-Bold.woff2") format("woff2"),
       url("../fonts/Upgrade-Bold.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Bold_Italic";
  src: url("../fonts/Upgrade-Bold_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Book";
  src: url("../fonts/Upgrade-Book.woff2") format("woff2"),
       url("../fonts/Upgrade-Book.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Book_Italic";
  src: url("../fonts/Upgrade-Book_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Book_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Cover";
  src: url("../fonts/Upgrade-Cover.woff2") format("woff2"),
       url("../fonts/Upgrade-Cover.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Cover_Italic";
  src: url("../fonts/Upgrade-Cover_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Cover_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-ExtraBlack";
  src: url("../fonts/Upgrade-ExtraBlack.woff2") format("woff2"),
       url("../fonts/Upgrade-ExtraBlack.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-ExtraBlack_Italic";
  src: url("../fonts/Upgrade-ExtraBlack_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-ExtraBlack_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-ExtraLight";
  src: url("../fonts/Upgrade-ExtraLight.woff2") format("woff2"),
       url("../fonts/Upgrade-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-ExtraLight_Italic";
  src: url("../fonts/Upgrade-ExtraLight_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-ExtraLight_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Hairline";
  src: url("../fonts/Upgrade-Hairline.woff2") format("woff2"),
       url("../fonts/Upgrade-Hairline.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Hairline_Italic";
  src: url("../fonts/Upgrade-Hairline_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Hairline_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Italic";
  src: url("../fonts/Upgrade-Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Light";
  src: url("../fonts/Upgrade-Light.woff2") format("woff2"),
       url("../fonts/Upgrade-Light.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Light_Italic";
  src: url("../fonts/Upgrade-Light_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Medium";
  src: url("../fonts/Upgrade-Medium.woff2") format("woff2"),
       url("../fonts/Upgrade-Medium.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Medium_Italic";
  src: url("../fonts/Upgrade-Medium_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Normal";
  src: url("../fonts/Upgrade-Normal.woff2") format("woff2"),
       url("../fonts/Upgrade-Normal.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Normal_Italic";
  src: url("../fonts/Upgrade-Normal_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Normal_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Regular";
  src: url("../fonts/Upgrade-Regular.woff2") format("woff2"),
       url("../fonts/Upgrade-Regular.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Semibold";
  src: url("../fonts/Upgrade-Semibold.woff2") format("woff2"),
       url("../fonts/Upgrade-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Semibold_Italic";
  src: url("../fonts/Upgrade-Semibold_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Semibold_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Standard";
  src: url("../fonts/Upgrade-Standard.woff2") format("woff2"),
       url("../fonts/Upgrade-Standard.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Standard_Italic";
  src: url("../fonts/Upgrade-Standard_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Standard_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Thin";
  src: url("../fonts/Upgrade-Thin.woff2") format("woff2"),
       url("../fonts/Upgrade-Thin.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-Thin_Italic";
  src: url("../fonts/Upgrade-Thin_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-Thin_Italic.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-UltraBlack";
  src: url("../fonts/Upgrade-UltraBlack.woff2") format("woff2"),
       url("../fonts/Upgrade-UltraBlack.woff") format("woff");
}

@font-face {
  font-family: "Upgrade-UltraBlack_Italic";
  src: url("../fonts/Upgrade-UltraBlack_Italic.woff2") format("woff2"),
       url("../fonts/Upgrade-UltraBlack_Italic.woff") format("woff");
}
