
/* TYPE-TRY web fonts */

/* Upgrade */

@font-face {
  font-family: "Upgrade-Thin";
  src: url("Upgrade-Thin.eot") format("eot"),
  url("Upgrade-Thin.woff2") format("woff2"),
  url("Upgrade-Thin.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Thin_Italic";
  src: url("Upgrade-Thin_Italic.eot") format("eot"),
  url("Upgrade-Thin_Italic.woff2") format("woff2"),
  url("Upgrade-Thin_Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Book";
  src: url("Upgrade-Book.eot") format("eot"),
  url("Upgrade-Book.woff2") format("woff2"),
  url("Upgrade-Book.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Book_Italic";
  src: url("Upgrade-Book_Italic.eot") format("eot"),
  url("Upgrade-Book_Italic.woff2") format("woff2"),
  url("Upgrade-Book_Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Regular";
  src: url("Upgrade-Regular.eot") format("eot"),
  url("Upgrade-Regular.woff2") format("woff2"),
  url("Upgrade-Regular.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-RegularItalic";
  src: url("Upgrade-Italic.eot") format("eot"),
  url("Upgrade-Italic.woff2") format("woff2"),
  url("Upgrade-Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Medium";
  src: url("Upgrade-Medium.eot") format("eot"),
  url("Upgrade-Medium.woff2") format("woff2"),
  url("Upgrade-Medium.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-MediumItalic";
  src: url("Upgrade-Medium_Italic.eot") format("eot"),
  url("Upgrade-Medium_Italic.woff2") format("woff2"),
  url("Upgrade-Medium_Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Semibold";
  src: url("Upgrade-Semibold.eot") format("eot"),
  url("Upgrade-Semibold.woff2") format("woff2"),
  url("Upgrade-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Semibold_Italic";
  src: url("Upgrade-Semibold_Italic.eot") format("eot"),
  url("Upgrade-Semibold_Italic.woff2") format("woff2"),
  url("Upgrade-Semibold_Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-BoldItalic";
  src: url("Upgrade-Bold_Italic.eot") format("eot"),
  url("Upgrade-Bold_Italic.woff2") format("woff2"),
  url("Upgrade-Bold_Italic.woff") format("woff"),
}
@font-face {
  font-family: "Upgrade-Bold";
  src: url("Upgrade-Bold.eot") format("eot"),
  url("Upgrade-Bold.woff2") format("woff2"),
  url("Upgrade-Bold.woff") format("woff");
}

/* Opcode */

@font-face {
  font-family: "Opcode-Regular_MA";
  src: url("fonts/opcode-regular_ma.eot") format("eot"),
  url("fonts/opcode-regular_ma.woff2") format("woff2"),
  url("fonts/opcode-regular_ma.woff") format("woff");
}

/* PowerLift */

@font-face {
  font-family: "PowerLift_Try-Tight";
  src: url("powerlift_try-tight.eot") format("eot"),
  url("powerlift_try-tight.woff2") format("woff2"),
  url("powerlift_try-tight.woff") format("woff");
}
@font-face {
  font-family: "PowerLift_Try-Tight_Outline";
  src: url("powerlift_try-tight_outline.eot") format("eot"),
  url("powerlift_try-tight_outline.woff2") format("woff2"),
  url("powerlift_try-tight_outline.woff") format("woff");
}
@font-face {
  font-family: "PowerLift_Try-Tight_Circle";
  src: url("powerlift_try-tight_circle.eot") format("eot"),
  url("powerlift_try-tight_circle.woff2") format("woff2"),
  url("powerlift_try-tight_circle.woff") format("woff");
}
@font-face {
  font-family: "PowerLift_Try-Tight_Slab";
  src: url("powerlift_try-tight_slab.eot") format("eot"),
  url("powerlift_try-tight_slab.woff2") format("woff2"),
  url("powerlift_try-tight_slab.woff") format("woff");
}
 

